@import url(reset.css);
@import url(common.css);

header{
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_header{
    width: 6.25%;
}

.menu_wrap{
    width: 34.895%;
    display: flex;
    justify-content: space-between;
}

.menu_wrap a{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

/* 섹션_1시작 */

.section_1{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/section_1/bg_1.png) no-repeat center / cover;
    font-family: "Inter", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_1_icon{
    position: absolute;
    top: 35%;
    right: 34%;
    width: 9.218%;
    
}

.sec_1_title h3{
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 120px;
    color: white;
}

.sec_1_title p{
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    color: white;
    opacity: 0.6;
}

/* 섹션2시작 */

.section_2{
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.sec_2_title{
    padding-top: 90px;
    padding-left: 226px;
    font-family: "Noto Sans KR", sans-serif;
}

.sec_2_title h4{
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -3px;
}

.sec_2_title h4 span{
    color: #F9292E;
}

.sec_2_title p{
    padding-top: 35px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -1px;
    color: #a1a1a1;
}

.sec_2_con_wrap{
    display: grid;
    grid-template-columns: repeat(2,2fr);
}

.sec_2_con_1 a,
.sec_2_con_2 a{
    display: grid;
    row-gap: 70px;
}

.sec_2_con_2{
    padding-right: 230px;
}

.sec_2_con_1 img,
.sec_2_con_2 img{
    /* width: 19.5%; */
    width: 78%;
}
